<div class="container g-4">
    <h1 class="text-center"> Bienvenido Querido Usuario</h1>
    <h4 class="text-center">Puedes ingresar tus datos para que podamos poner en marcha dentro del sistema tu requerimiento</h4>
</div>
