
<!-- <div>
    <div class="container">
        <form class="form" method="post" action="~/HomeController">
            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" placeholder="Introduce tu nombre aqui" class="form-control" name="name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text" placeholder="Introduce tu apellido aqui" class="form-control" name="lastName">
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="number" placeholder="Introduce tu numero aqui" class="form-control" name="number">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <textarea type="text" rows="3" placeholder="Introduce la descripcion aqui" class="form-control" name="description"></textarea>
                </div>
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div> -->
