@{
    ViewData["Title"] = "Inicio";
}


<div class="container-fluid">
            <div class="row d-flex justify-content-center align-content-center fondo">
                <div class="m-5 p-5">
                    <h1 class="display-1 text-center text-light">TELEMERCADEO S.A.</h1>
                </div>
            </div>
            <div class="bg-light p-5 m-5">
                <h2 class="text-start display-5 py-1 my-1">¿Estas buscando una cosa en especifico?</h2>
                <h3 class="text-start display-6 py-1 my-1">¡PUES LO TENEMOS!</h3>
                <p class="text-start blockquote py-1 my-1">
                    En Telemercadeo S,A hemos trabajado por más de 20 años ofreciendo los mejores productos para las personas con el fin de mejorar su vida
                    y hacerla de una manera más sencilla, tenemos varios servicios que de seguro te interesaran, por lo cual no te preocupes,
                    lo unico que necesitas hacer es dejarnos tu contacto para nosotros comunicarnos contigo de la mejor manera y ofrecerte
                    el servicio que tanto necesitas. Hemos trabajado con empresas como EBay, Amazon AliExpress y hemos ganado ante la calidad de
                    productos. Una empresa 100% guatemalteca.
                </p>
        <p> Aqui puede encontrar la lista de clientes <a asp-controller="Cliente" asp-action="Index">Aquí</a></p>
            </div>
            <hr>
            <div class="fondo-texto p-5 m-5">
                <h2 class="text-start display-5 py-1 my-1">¿Estas buscando aplicar para una mejor oportunidad?</h2>
                <h3 class="text-start display-6 py-1 my-1">¡ESTAMOS INTERESADOS EN TI!</h3>
                <p class="text-start blockquote py-1 my-1">
                    En Telemercadeo S,A ofrecemos varios tipos de trabajo en los cuales puedes aplicar, generalmente las personas llegan
                    a nuestra empresa en busca de una oportunidad de crecimiento, sabiendo lo que eso implica, y en cada caso hemos comprobado
                    una mejora en la vida del personal en el sentido profesional, pues cada trabajador que esta con nosotros no se arrepiente de
                    haber elegido trabajar con nosotros.
                    Asi que si estas interesado en trabajar o empezar a hacerlo en distintas areas como TI, Marketing, Ventas, Contabilidad o Servicio a Cliente
                    pues no lo pienses más y dejanos tu contacto.
                </p>
        <p> Aqui puede encontrar la lista de clientes <a asp-controller="Cliente" asp-action="Index">Aquí</a></p>
            </div>
    <hr>
            <div class="p-5 m-5">
                <h2 class="text-start display-5 py-1 my-1">¿Quienes Somos?</h2>
                <p class="text-start blockquote py-1 my-1">
            <span class="fw-bold">Fundadores</span>
            <br />
            HERBERT EMILIO ALFARO MONTES -1181320
            <br />
            SAMER ARANKI MUÑOZ -1240221
            <br />
            CARLOS DANIEL BARRIENTOS CASTILLO -1040121
            <br />
            EDDIE ALEJANDRO GIRÓN CARRANZA -1307419
            <br />
            JULIO ANTHONY ENGELS RUIZ COTO -1284719
            <br />

                </p>
            </div>
    </div>
