@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TELEMERCADEO S.A.</h1>
    <p></p>
    <p></p>
    <p> Aqui puede encontrar la lista de clientes <a asp-controller="Cliente" asp-action="Index">Aquí</a></p>
</div>